body{
    overflow-x: hidden;
  }
.today{
  transition: .5s;
}
.Landing{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#FAFAFA;
}

.LandingPage{
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 50% 100%, 0 82%);

}
.LandingPage img{
  position: relative;
  width: 100vw;
  height: auto;
}
.navBar{
    box-sizing: border-box;
    position:fixed ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 10;
    
  }
  .navUl{ 
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-items: flex-end;
  }
  
  .navBar-links li{
    list-style: none;
    position: relative;
    left: -12em;
  }
  
  .navBar-links li a{
  text-decoration: none;
  color: #1d1c1c;
  font-size: 14.5px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 1rem;
  display: block;
    
  
  }
  
  .navBar-links li a:hover{
  color: rgb(72, 15, 138);

  }
  
  .brand-logo img{
    color: #1d1c1c;
    font-size: 14.5px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Work Sans', sans-serif;
    width: 131px;
    position: relative;
    left: 5em;
    height: auto;
  
  
  }
  
  .toggle-button{
     position: absolute;
     top: .75rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
  }
  .toggle-button .bar{
     height: 3px;
     width: 100%;
     background-color: black;
     border-radius: 10px;
  }

  .Topic{
  }
  .Topic p{
    position: absolute;
    justify-content: center;
    font-size: 29px;
    /* bottom: 6em; */
    left: 18em;
    bottom: 5em;
    width: 512px;
    border: -19em;
    z-index: 11111;
  }

  /* --------------------------------------------------------------------------------- Total_Cases - --------------------------------------------------------------*/

  .Total_Cases{
      position: relative;
      width: 100vw;
      height: 90vh;
      /* background-image: linear-gradient(to right top, #ededed, #ebebeb, #e9eae9, #e8e8e8, #e6e6e6, #e5e5e9, #e3e5eb, #dfe5ee, #d4e8f4, #c7ecf4, #bdefed, #bcf1df); */
      background-color: #FAFAFA;
  }

  .Total_Cases-Topic h1{

    position: absolute;
    width: 100%;
    left: 11em;
    top: 0.5em;
    font-family: 'Work Sans', sans-serif;
    font-size: 56px;
    color: crimson;
  }
  .Total_Cases-Description{
      display: flex;
      top: 15em;
      position: relative;
      justify-content: center;
      gap: 30px;


  }

 .Total_Cases-Description div:hover{
    transition: 0.7s;
    box-shadow: 0px 0px 5px 5px rgba(117, 112, 112, 0.5);
  }
  .cases-item-1{
    border: 1px solid #fdb01a;
    width: 220px;
    height: 220px;
    border-radius: 20px;
}
  .cases-item-2{
    border: 1px solid #f64a8f;
    width: 220px;
    height: 220px;
    border-radius: 20px;
}
.cases-item-3{
    border: 1px solid #50cd8a;
    width: 220px;
    height: 220px;
    border-radius: 20px; 
}
.cases-item-4{
    border: 1px solid #7052fb;
    width: 220px;
    height: 220px;
    border-radius: 20px;
}

.cases-item-1 h3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 5em;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color:rgb(0, 0, 0) ;
}
.cases-item-2 h3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 5em;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color:rgb(0, 0, 0) ;
}
.cases-item-3 h3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 5em;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color:rgb(0, 0, 0) ;
}
.cases-item-4 h3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 5em;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    color:rgb(0, 0, 0) ;
}
#cases-item-lbl1{
    position: relative;
    display: flex;
    /* justify-content: end; */
    color: #fdb01a;
    width: 236px;
    height: 144px;
    left: -7px;
    bottom: 1em;
    font-size: 57px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
#cases-item-lbl2{
    position: relative;
    display: flex;
    /* justify-content: end; */
    color:  #f64a8f;
    width: 236px;
    height: 144px;
    bottom: 1em;
    left: -7px;
    font-size: 57px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
#cases-item-lbl3{
    position: relative;
    display: flex;
    /* justify-content: end; */
    color: #50cd8a;
    width: 236px;
    height: 144px;
    left: -7px;
    bottom: 1em;
    font-size: 57px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
#cases-item-lbl4{
    position: relative;
    display: flex;
    /* justify-content: end; */
    color: #7052fb; 
    width: 236px;
    height: 144px;
    left: -7px;
    bottom: 1em;
    font-size: 57px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.total-LineChart{
  position: relative;
  width: 100vw;
  height: 77vh;
}

footer{
  position: relative;
  background: #111;
  bottom: 4em;
  /* left: 0; */
  /* right: 0; */
  background: #111;
  height: 26vh;
  width: 100vw;
  font-family: "Ubuntu";
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #1abc9c;
  position: relative;
  top: 1em;
  left: 17px;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}